#nav{
    background-color:black
    }
    i{
        color: white;
    }
    body{
        background-color: silver;
    }
    .container{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        
    }
    .form{
        padding-top: 20px;
        padding-bottom: 20px;
        height: 350px;
        width: 30%;
       border: 1px solid silver; 
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       background-color: white;
       border-radius: 10px;
    }
    input{
        width: 250px;
        height: 40px;
    }
    label{
        font-size: larger;
    }
    button{
        height: 50px;
        width: 100px;
        font-size: larger;
    }
    .logo {
        display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       /* font-size: 30px;
       font-weight: bolder; */

    }
    h2{
       
       font-size: 40px;
       font-weight: bolder;
    }
    footer{
        height: 140px;
        width: 100%;
        border: 1px solid black;
    }